<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result Page</title>
  </head>
  <body>
    <h3>You chose <%= choice %></h3>
    <h3>Computer chose <%= `${computerChoice}` %></h3>
    <% if(winner != "computer"){ %>
    <h3>Congrats! You win!</h3>
    <% } else{ %>
    <h3>Better luck next time!</h3>
    <% } %>
    <form action="/game" method="get">
      <input id="restart-button" type="submit" value="Play Another Round" />
    </form>
  </body>
</html>
