<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container d-flex align-items-center justify-content-center">
      <div class="col-8">
        <h3>Hi <%= name1 %>!</h3>
        <h3>Please provide your choice:</h3>
        <p>
          <strong>Don't forget to ask your competitor to close eyes!</strong>
        </p>
        <form action="/game2-2" method="post">
          <input
            type="radio"
            name="choice"
            value="Rock"
            onclick="document.getElementById('choice-submit').removeAttribute('disabled')"
          />
          Rock <br />
          <input
            type="radio"
            name="choice"
            value="Paper"
            onclick="document.getElementById('choice-submit').removeAttribute('disabled')"
          />
          Paper <br />
          <input
            type="radio"
            name="choice"
            value="Scissors"
            onclick="document.getElementById('choice-submit').removeAttribute('disabled')"
          />
          Scissors <br />
          <input
            type="radio"
            name="choice"
            value="Spock"
            onclick="document.getElementById('choice-submit').removeAttribute('disabled')"
          />
          Spock <br />
          <input
            type="radio"
            name="choice"
            value="Lizard"
            onclick="document.getElementById('choice-submit').removeAttribute('disabled')"
          />
          Lizard <br /><br />
          <input
            id="choice-submit"
            type="submit"
            value="I am ready!"
            disabled=""
          />
        </form>
      </div>
    </div>
  </body>
</html>
